
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px  10px rgba(0, 0, 0, 3);
    width: 400px;
    height: 800px;
    align-content: center;
    }

body{
        background-color: #f9fafb;
        font-family: 'open sans', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0; 
        }
h1
{
padding: 1.0em;
text-align: justify;
letter-spacing: 3px;
font-size: larger;
text-align: center;
font-weight: 700; 
margin-bottom: 5px;
color: orangered;
font-family: Montserrat, sans-serif;
}

.button
{
    background: orangered;
    transition: all 1s;
    padding: 10px 10px;
    cursor: pointer; 
    font-size: 16px;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    border-radius: 3rem;
    margin-left: 6rem;
}

.button:hover
{
background: transparent;
color: black;
}

.landingpagepic {
margin: 50px;
}

.menu {
margin: 0px;
padding: 0px; 
text-align: center;
}

h2
{
padding: 1.0em;
text-align: justify;
letter-spacing: 3px;
font-size: larger;
text-align: center;
font-weight: 700; 
margin-bottom: 5px;
color: orangered;
font-family: Montserrat, sans-serif;
}


.button2
{
    background: orangered;
    position: relative;
    transition: all 1s;
    padding: 10px 10px;
    cursor: pointer; 
    font-size: 16px;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 0.3rem;
    border-radius: 3rem;
    margin-left: 7.0rem;
    margin-top: 2rem;
}

.button2:hover
{
background: transparent;
color: black;
}


.container2 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px  10px rgba(0, 0, 0, 3);
    width: 600px;
    height: 800px;
    align-content: center;
    }

.menu{
    margin: 1rem;
    }


    .button3
    {
        background: orangered;
        transition: all 1s;
        padding: 10px 10px;
        cursor: pointer; 
        font-size: 16px;
        width: 50%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        border: 0.3rem;
        border-radius: 3rem;
        margin-left: 6.5rem;
    
    }
    
    .button3:hover
    {
    background: transparent;
    color: black;
    }

h3
{
text-align: justify;
letter-spacing: 3px;
font-size: larger;
text-align: center;
font-weight: 700; 
color: orangered;
font-family: Montserrat, sans-serif;
margin-top: 4rem;
}

hr {
    border: 5px solid orangered;
    border-radius: 2.5px;
    margin-bottom: 2.5rem;
  }

.form2 {
        width: 100%;
        padding: 25px;
        color: orangered
}
.workexp-input, .state-input, .age-input, .edu-input
{
    padding: 1.0rem;
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
}

/*Media Query: Large Smartphone */
@media only screen and (max-width: 600px)
{
 h1 {
    font-size: 25px;
}
 h2 {
    font-size: 25px;
 }
 .container{
  zoom: 100%; 

 }


}